{% extends 'database/base.html' %}

{% block terms %}

    <div class="headcs">
        <h2>Computer Systems Terms and Definitions</h2>
    </div>

    <div class="termsbody">
        <div class="datalist">
            {% for data in datacs  %}
                <div class="terms" id="{{data.title}}">
                    <h3>{{data.title}}</h3>
                    <hr>
                    <h5>Definition</h5>
                    <p>{{data.defn}}</p>
                </div>
            {% endfor %}
        </div>

        <div class="navlist">
            {% for data in datacs %}
                <div class="tag">
                    <a href="#{{data.title}}">{{data.title}}</a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock terms %}