{% extends 'main/base.html' %}

{% block homeblock %}
<div class="homediv">
    <div class="welcome">
        <h1>Welcome to the 
            <br>
            Bits Learning Database</h1>
    </div>
    <div class="detail">
        <p>Furthermore, one should not forget that the core principles cannot rely only on The Area of Contemporary Architecture Myles Silvers in The Book of the</p>
    </div>
    <div class="homelinks">
        <a href="{% url 'register' %}">Create account</a>
        <a href="{% url 'login' %}" id="signin">Sign In</a>
    </div>
</div>
{% endblock homeblock %}

