{% extends 'main/base.html' %}
{% load static %}
{% block homeblock %}
<div class="homediv">
    <div class="landing">
        <div class="welcome">
            <h1>Welcome to the 
                <br>
                Bits Learning Database</h1>
        </div>
        <div class="detail">
            <p>Bits Learning Database was created to help you with your studies and make finding resources easier. This database is periodically updated with fresh content and updated resources.</p>
        </div>
        <div class="homelinks">
            <a href="{% url 'register' %}">Create account</a>
            <a href="{% url 'login' %}" id="signin">Sign In</a>
        </div>
    </div>

    <div class="landingimg">
        <img src="{% static "main/research.svg" %}" alt="">
    </div>
</div>
{% endblock homeblock %}

