{% extends 'database/base.html' %}

{% block bloglogin %}
<div class="blogskeleton">
    {% for blog in blog %}
    <div class="display">
        <div class="blog">
            <div class="head">
                <h3>{{blog.title}}</h3>
                <h5>@{{blog.user}}</h5>
            </div>
            <hr>
            <div class="blog_detail">
                <p>{{blog.blog}}</p>
            </div>
            <div class="foot">
                <h5>{{blog.date}}</h5>
            </div>
        </div>
    </div>  
    {% endfor %}

    <div class="bloginput">
        <form method = POST id="formblog">
            <h1>Add your post</h1>
            {% csrf_token %}
            {{form}}
            <button id="regbtn" type="submit">POST</button>
        </form>
    </div>
</div>
{% endblock bloglogin %}