{% extends 'database/base.html' %}
{% block homelogin %}

<div class="homelogin">
    <h1>DATABASE</h1>
    <p>Furthermore, one should not forget that the core principles cannot rely only on The Area of Contemporary Architecture Myles Silvers in The Book of the</p>
</div>

<div class="subject">
    <div class="sub">
        <h1 class="titles">Computer Systems</h1>
        <div class="subtitles">
            <a href="">Overview of Computer Systems</a>
            <a href="">Data representation layer</a>
            <a href="">Hardware layer</a>
            <a href="">Programming languages</a>
            <a href="">Operating Systems(OS)</a>
            <a href="">Application layer</a>
            <a href="">Communication layer</a>
            <a href="{% url 'termscs' %}">Terms and Definitions</a>
        </div>
    </div>

    <div class="sub">
        <h1 class="titles">Software Engineering</h1>
        <div class="subtitles">
            <a href="">Introduction to software engineering</a>
            <a href="">Software development lifecycle</a>
            <a href="">SE Tools</a>
            <a href="">Software requirements gathering</a>
            <a href="">Software design</a>
            <a href="">Building</a>
            <a href="">Verification and Validation (Testing)</a>
            <a href="{% url 'termsse' %}">Terms and Definitions</a>
        </div>
    </div>
</div>

{% endblock homelogin %}